@use 'variables' as *;

.link_btn:hover {
  background: $button_hover;
  border: 1px solid $button_hover;
  transform: scale(1.2);
  transition: all 0.3s;
}

.nav_text:hover .circle {
  fill: $main_color_layout;
}

.text_button:hover {
  background: $button_hover;
  border: 1px solid $button_hover;
  transition: all 0.5s;
  border-radius: 30px;
}

iframe:hover {
  filter: none;
  transition: all 1.5s;
}

input:focus {
  opacity: 1;
}

.slick-dots li button::before {
  color: $main_color_layout;
  opacity: 1;
  border: 1px solid $main_color_layout;
  border-radius: 10px;
  width: 10px;
  height: 10px;
  content: '';
}

.slick-dots li.slick-active button:before {
  color: $main_color_layout;
  opacity: 1;
  width: 10px;
  height: 10px;
  background: $main_color_layout;
}

.slick-prev:before {
  content: '';
}

.slick-next:before {
  content: '';
}

.slick-prev:focus,
.slick-prev:hover {
  background-image: url(../img/Left.png);
}

.slick-next:focus,
.slick-next:hover {
  background-image: url(../img/Right.png);
}