//Colors-Text
$main_color_text: #2C4058;

//Colors-layout
$main_color_layout: #FFFFFF;
$button_hover: #55B7FF;

//Font-Family
$main_font-family_text: 'Montserrat', sans-serif;
$minor_font-family_text: 'Open Sans', sans-serif;